*{
    margin:0; padding: 0;
}
.login-form{
    background-color: black;
    opacity: 70%;
   padding: 1em;
   margin: 15em;
   width: 320px;
   height: 305 px;
   flex-direction:column ;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: medium;
}
  
.button{
    background-color: blue; 
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width: 50px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
}