<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style2.css')}}" />
    <title></title>
  </head>

  <body>
    <div class="background-image">
      <div class="login-form">
        <h1>Fraud Prediction System</h1>
        <p>Anti Fraud Center</p>
        <a href="{{url_for('transaction')}}"">
          <button>Go ahead to Predict</button>
        </a>
      </div>
    </div>
  </body>
</html>
