<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- custom css file link -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/style.css')}}"
    />
    <script>
      var text = document.getElementById("result").innerHTML;
      var change = document.getElementById("result");
      if (text == "This transaction is not fraudulent") {
        change.classList.add("green");
      } else {
        change.classList.add("red");
      }
    </script>
  </head>
  <body>
    <div class="container">
      <form action="{{ url_for('predict')}}" method="POST">
        <div class="row">
          <div class="col">
            <h3 class="title">TRANSACTION</h3>
            <hr color="white" />

            <div class="row">
              <div class="col">
                <h5 class="subtitle">Details of Transaction Originator</h5>
                <div class="inputBox">
                  <span>Account Number</span>
                  <input
                    type="text"
                    placeholder="2134559968"
                    name="nameOrig"
                    required
                  />
                </div>
                <div class="inputBox">
                  <span>Amount Sent </span>
                  <input
                    type="text"
                    placeholder="30000"
                    name="amount"
                    required
                  />
                </div>
                <div class="inputBox">
                  <span>Balance before transaction </span>
                  <input
                    type="text"
                    placeholder="123 456"
                    name="oldbalanceOrg"
                    required
                  />
                </div>
                <div class="inputBox">
                  <span>Balance after transaction </span>
                  <input
                    type="text"
                    placeholder="123 456"
                    name="newbalanceOrig"
                    required
                  />
                </div>
              </div>

              <div class="col">
                <h5 class="subtitle">Details of Receiver</h5>
                <div class="inputBox">
                  <span> Account Number </span>
                  <input
                    type="text"
                    placeholder="2134559968"
                    name="nameDest"
                    required
                  />
                </div>
                <div class="inputBox">
                  <span>Balance before Credit</span>
                  <input
                    type="text"
                    placeholder="123"
                    name="oldbalanceDest"
                    required
                  />
                </div>
                <div class="inputBox">
                  <span>Balance after Credit </span>
                  <input
                    type="text"
                    placeholder="123 456"
                    name="newbalanceDest"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="inputBox">
                <span>Does The Transaction Look Fradulent? </span>
                <select name="isFlaggedFraud" id="isFlaggedFraud">
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
              <div class="inputBox">
                <span>Transaction Type </span>
                <select name="type" id="type">
                  <option value="2">Debit</option>
                  <option value="4">Transfer</option>
                  <option value="3">Payment</option>
                  <option value="0">Cash In</option>
                  <option value="1">Cash out</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <input type="submit" value="PREDICT" class="submit-btn" />
        <div class="alert" id="result">
          <span
            class="closebtn"
            onclick="this.parentElement.style.display='none';"
            >&times;</span
          >
          {{prediction_text}}
        </div>
      </form>
    </div>
  </body>
</html>
